# ========== BASE RULE: Ignore everything ==========
*

# ========== Allow only these ==========
!.gitignore
!src/
!src/**

# ========== Python ==========
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# ========== VS/IDE ==========
.vscode/
*.suo
*.user
*.sln.docstates

# ========== Virtual Envs ==========
.env/
.venv/
env/

# ========== Data ==========
data/
data/**/*.pk

# ========== OS ==========
.DS_Store
Thumbs.db